
.col-md-4,.col-md-8, .h3,.col-md-6 {
	font-size: 14pt; 
	font-family: Verdana;
 	Background-color: #968BDC;
} 

.col-md-12,.col-md-9,.col-md-3,.col-md-11,.col-md-1{
	font-size: 14pt; 
	font-family: Verdana;
 	Background-color: #e6eaf0
}

.h6 {
	
  font-size: 12pt;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h3, h2 {
   text-align: center
}

h5 {
 	text-align: center
	
 }
.col-md-1 {
	font-size: 10pt; 
	font-family: Verdana;
 	Background-color: #e6eaf0
	text-align: center
}
.extra { 
    display: none;
}

p:hover .extra {
    display: inline-block;
}

.collapsible {
  background-color: #666;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #444;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
